<div class="detail-panel">
  <h3>Minu valik on:</h3>
  <div class="choice-card">
    <div *ngIf="!person">Valiku tegemiseks klõpsake nimekirjas soovitud kandidaadi nimele.</div>
    <div *ngIf="person" class="choice-id">{{ person.id }}</div>
    <div class="choice-name">{{ person?.firstName }} {{ person?.lastName }}</div>
    <div> {{ partyName }}</div>
  </div>
  <div class="actions">
    <button (click)="cancel.emit()">Katkestan</button>
    <button
      (click)="confirm.emit(person!)"
      [disabled]="!person">Valin</button>
  </div>
</div>
