<ng-container *ngIf="!submitted">
  <div class="confirm-container">

    <div class="election-info-wrapper">
      <h2>Olete e‑hääletamas 2025. aasta proovihääletustel.</h2>
      <p class="instruction">
        Oma valiku kinnitamiseks vajutage nuppu “Hääletan”.<br>
        E-hääle kinnitamisel küsitakse digiallkirjastamiseks Teie mobiil-Id/Id-kaardi PIN2 koodi.
      </p>
    </div>

    <div class="election-info-wrapper">
      <p class ="instruction">Allkirjastatav krüpteering:</p>
      <div class ="cipher">
        <div class ="cipher-text">{{ cipher }}</div>
        <button class="copy-btn"
                (click)="copy()"
                matTooltip="Kopeeri"
                matTooltipClass ="custom-tooltip"
                matTooltipHideDelay="100"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>

    <div class="selection-section">
      <h3>Minu valik on:</h3>
      <div class="choice-card-wrapper">
        <div class="choice-card">
          <div class="choice-id">{{ selectionInformation.person.id }}</div>
          <div
            class="choice-name">{{ selectionInformation.person.firstName }} {{ selectionInformation.person.lastName }}
          </div>
          <div> {{ selectionInformation.partyName }}</div>
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="btn-outline" (click)="back()">Tagasi</button>
      <button class="btn-primary" (click)="confirm()">Hääletan</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="submitted">
  <app-vote-confirmation-info></app-vote-confirmation-info>
</ng-container>
