<div class="auth-container">
  <ng-container [ngSwitch]="selectedMethod">

    <div *ngSwitchDefault>
      <h2 *ngIf="!selectedMethod">E-hääletamiseks peate ennast tuvastama ID-kaardi või Mobiil-ID abil:</h2>
      <div class="button-group">
        <button *ngFor="let method of methods"
                class="auth-button"
                (click)="selectMethod(method.type)"
        >
          {{ method.label }}
        </button>
      </div>
    </div>

    <id-card-pin-entry
      *ngSwitchCase="SignInMethod.ID_CARD"
      (cancel)="onPinCancel()"
      (submit)="onPinSubmit()">
    </id-card-pin-entry>

    <mobile-id-entry
      *ngSwitchCase="SignInMethod.MOBILE_ID"
      (cancel)="onPinCancel()"
      (submit)="onPinSubmit()">
    </mobile-id-entry>

  </ng-container>
</div>
