.auth-container {
  text-align: center;
  padding: 2rem;
  color: #0058a3;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.auth-button {
  background-color: whitesmoke;
  border: 1px solid #afb2b6;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #0058a3;
  cursor: pointer;
  width: 240px;
}
